<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.goofin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- TODO Intent filters -->
        <activity android:name=".activities.saveholiday.CreateHolidayActivity" />
        <activity
            android:name=".activities.HolidayActivity"
            android:label="Holiday"
            android:parentActivityName="com.example.goofin.activities.HolidaysListActivity">
        </activity>
        <activity
            android:name=".activities.HolidaysListActivity"
            android:label="@string/title_activity_holidays_lists">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>